In [ ]:
Hi everyone,

A quick note on the Salary Exercise, one of the questions asks how many people have the word "chief" in their title. My solution is actually slightly off, I didn't take into account people that had punctuation in their title right next to the word chief, for example : Chief, Justice. 

If you want to see a full discussion, search the qa forums for 'chief' , there are a lot of thread where students have posted alternative solutions that work correctly (there are a lot of ways to solve this one)

Thanks!

Jose

In [1]:
## Using datasets from kaggle: https://www.kaggle.com/kaggle/sf-salaries

In [2]:
import pandas as pd

In [8]:
#Read CSV file

salaries_data = pd.read_csv('Salaries.csv')
salaries_data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [24]:
# check the head of csv file

salaries_data_head = salaries_data.head(2)
salaries_data_head

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [11]:
#use .info() method to find number of entries

num_data_entries = salaries_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [26]:
#what is the average basepay?

avg_basepay = salaries_data['BasePay'].mean()
avg_basepay

66325.44884050643

In [17]:
## what is the highest overtime pay in the dataset?

highest_overtimepay = salaries_data['OvertimePay'].max()
highest_overtimepay

245131.88

In [31]:
## What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

JD_jobtitle = salaries_data[salaries_data['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
JD_jobtitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [37]:
#How much does JOSEPH DRISCOLL make (including benefits)?

JD_make = salaries_data[salaries_data['EmployeeName'] == 'JOSEPH DRISCOLL'] ['TotalPayBenefits']
JD_make

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [44]:
#What is the name of highest paid person (including benefits)?**

highestpay= salaries_data['TotalPayBenefits'].max()
person_highestpay= salaries_data[salaries_data['TotalPayBenefits']== highestpay]
person_highestpay['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [46]:
salaries_data.loc[salaries_data['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [50]:
#What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

salaries_data.iloc[salaries_data['TotalPayBenefits'].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [54]:
#or

salaries_data[salaries_data['TotalPayBenefits']== salaries_data['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [61]:
# What was the average (mean) BasePay of all employees per year? (2011-2014) ?

salaries_data.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [58]:
#How many unique job titles are there?
    
salaries_data['JobTitle'].nunique() #n is number of

2159

In [64]:
 ##What are the top 5 most common jobs? 
 salaries_data['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [67]:
## How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

sum(salaries_data[salaries_data['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

In [68]:
# How many people have the word Chief in their job title? (This is pretty tricky) 

salaries_data['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [70]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [71]:
chief_string('CHIEF MANAGER-METROPOLITAN TRANSIT AUTHORITY')

True

In [75]:
sum(salaries_data['JobTitle'].apply(lambda x: chief_string(x)))

477

In [76]:
## Bonus: Is there a correlation between length of the Job Title string and Salary?

salaries_data['title_len'] = salaries_data['JobTitle'].apply(len)

In [77]:
salaries_data[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000