In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
#Multi-index and index heirarcy

In [8]:
#index levels
outside =['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])
df

             A         B
G1 1  0.537767 -0.491491
   2 -0.124488  0.424179
   3  0.057656  2.330973
G2 1  0.105907 -0.330767
   2 -0.143996  1.444178
   3 -0.008847  0.239710

In [13]:
#call data from MLI

In [15]:
df.loc['G1'].loc[1]

A    0.537767
B   -0.491491
Name: 1, dtype: float64

In [16]:
df.index.names=['Groups', 'Num']
df

                   A         B
Groups Num
G1     1    0.537767 -0.491491
       2   -0.124488  0.424179
       3    0.057656  2.330973
G2     1    0.105907 -0.330767
       2   -0.143996  1.444178
       3   -0.008847  0.239710

In [17]:
df.loc['G2']

            A         B
Num
1    0.105907 -0.330767
2   -0.143996  1.444178
3   -0.008847  0.239710

In [18]:
 df.loc['G2'].loc[2] #call outside to inside index

A   -0.143996
B    1.444178
Name: 2, dtype: float64

In [19]:
df.xs #cross section

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1    0.537767 -0.491491
       2   -0.124488  0.424179
       3    0.057656  2.330973
G2     1    0.105907 -0.330767
       2   -0.143996  1.444178
       3   -0.008847  0.239710>

In [20]:
df.xs('G1')

            A         B
Num
1    0.537767 -0.491491
2   -0.124488  0.424179
3    0.057656  2.330973

In [ ]:
df.xs(1, level='Num')