In [1]:
import numpy as np

In [2]:
import pandas as pd

In [12]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30} #passing value in a dict

print(d)
print(my_data)
print(arr)

{'a': 10, 'b': 20, 'c': 30}
[10, 20, 30]
[10 20 30]

In [21]:
pd.Series(data = my_data) #key in a pandas series; you can also specify index here

pd.Series(my_data, labels) #data and index

pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [28]:
pd.Series(arr, labels) # you can pass numpy array , numpy array works like a python list

a    10
b    20
c    30
dtype: int32

In [ ]:
# major difference between numpy array and python list is numpy array consumes less memory

In [29]:
labels

['a', 'b', 'c']

In [32]:
pd.Series(data=[sum, print, len]) #you can also pass buildin functions; holds different data types

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [38]:
series1 = pd.Series([1,2,3,4], ['USA' , 'Nepal', 'Japan', 'India'])

series1

USA      1
Nepal    2
Japan    3
India    4
dtype: int64

In [40]:
series2 = pd.Series([1,2,3,4], ['USA' , 'Nepal', 'Italy', 'India'])
series2

USA      1
Nepal    2
Italy    3
India    4
dtype: int64

In [41]:
series1['USA'] #index

1

In [43]:
series3 = pd.Series(data=labels)
series3

0    a
1    b
2    c
dtype: object

In [44]:
series3[0] # at index 0

'a'

In [45]:
series1

USA      1
Nepal    2
Japan    3
India    4
dtype: int64

In [46]:
series2

USA      1
Nepal    2
Italy    3
India    4
dtype: int64

In [47]:
series1+series2

#if it doesn't find a match, it will put null(NaN).

India    8.0
Italy    NaN
Japan    NaN
Nepal    4.0
USA      2.0
dtype: float64